.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album {
    display: flex;
    align-items: baseline;
    width: 500px;
    border: 1px solid rgb(154, 152, 152);
    padding: 8px;
    margin-bottom: 8px;
}

.album:hover {
    cursor: pointer;
    border-color: rgb(17, 12, 53);
}

.fa-times {
    margin-left: auto;
    padding: 4px;
    border-radius: 50%;
}

.fa-times:hover {
    background-color: rgb(240, 243, 246);
    cursor: pointer;
    color: #f4442f;
}